TODO_APP_HOST=127.0.0.1
TODO_APP_PORT=8000
TODO_DB_PATH=/Users/zhishikaishi/Desktop/temp/smallTools/TodoSkill/data/todo_agent.db
TODO_UPLOAD_DIR=/Users/zhishikaishi/Desktop/temp/smallTools/TodoSkill/uploads
LLAMA_SERVER_BIN=/Users/zhishikaishi/Desktop/temp/smallTools/llama/llama.cpp/build/bin/llama-server
LLAMA_MODEL_PATH=/Users/zhishikaishi/.lmstudio/models/Jackrong/Qwen3.5-2B-Claude-4.6-Opus-Reasoning-Distilled-GGUF/Qwen3.5-2B.Q5_K_S.gguf
LLAMA_MMPROJ_PATH=/Users/zhishikaishi/.lmstudio/models/Jackrong/Qwen3.5-2B-Claude-4.6-Opus-Reasoning-Distilled-GGUF/mmproj-BF16.gguf
LLAMA_SERVER_URL=http://127.0.0.1:18080
LLAMA_CONTEXT_SIZE=8192
LLAMA_THREADS=8
LLAMA_GPU_LAYERS=99
LLAMA_BATCH_SIZE=512
